.footer {
  width: 100%;
  max-width: 1024px;
}
.fLists {
  display: flex;
  flex-direction: row;
}
.fList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.fListItem {
  color: #003580;
  fs
}