.listContainer {
display: flex;
justify-content: center;
}


.listWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1024px;
  margin-top: 43px;
}




.listSearch {
  background-color: orange;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  padding: 16px;
  gap: 8px;
}
.lsItem {
  display: flex;
  
}
.other {
  background-color: bisque;
}