.listContainer {

}


.listWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1024px;
}




.listSearch {
  background-color: orange;
  display: flex;
  flex-direction: column;
}