.navbar {
    height: 50px;
    background-color: #FF8C00;
    display: flex;
    justify-content: center;
}
.navContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.logo {
    font-weight: bold;
    font-size:20px ;
}
.navItems {
    background: red;
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.navButton {
    border-radius: 7px;

}
