.header {
    background-color:aqua;
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer {
    width:  100%;
    max-width: 1024px;
    margin: 20px 0 1000 0;
}