.fp {
    display: flex;
    gap: 20px;
    width: 100%;
    max-width: 1024px;
}
.fpItem {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}
.fpImg {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.fpName {
    font-weight:bolder;
}
.fpPrice {
    font-weight: bold;

}
.fpRating {
    display: flex;
    gap: 10px;
}

.fpRating>button {
    background-color: #003580;
    color: ;
}