.featured {
    display: flex;
    width: 100%;
    max-width: 1024px;
    gap: 20px;
    justify-content: space-between;
    z-index: 1;
}

.featuredItem {
    position: relative;
    height: 250px;
    flex:1;
    overflow:hidden;
    color: white;
    border-radius: 10px;
}
.featuredImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.featuredTitles {
    position: absolute;
    
    left: 20px;
}