.hotelContainer {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-top: 20px;
}
.hotelWrapper {
  display: flex;
  flex
  width: 100%;
  max-width: 1024px;
  position: relative;
  gap: 10px;
}
.bookNow {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: #0071c2;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-weight: bold;
  color: white
}
.hotelImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.hotelImgWrapper {
  width: 33%;
}
.hotelImg {
  width: 100%;
  object-fit: cover;
}